workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Webhook').item.json.query.chat_id }}",
        "text": "={{ $json.text || $('Webhook').item.json.webhookUrl }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        -400
      ],
      "id": "27320f6a-97d9-46ea-8d78-e8e5cd3ccacf",
      "name": "Send a text message",
      "webhookId": "fc666f39-f57f-489c-82b9-b5c0fa85fce7",
      "credentials": {
        "telegramApi": {
          "id": "9UEQ9On2NLQLLgCw",
          "name": "TDK bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        336,
        -16
      ],
      "id": "45007866-7471-4cf2-a21f-6973ba7bafa8",
      "name": "When chat message received",
      "webhookId": "341164b3-50c5-42a2-a396-b28251a4a704"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        -64
      ],
      "id": "bb2f9c26-c974-4842-8e1f-2c156b521f38",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "wtQR3Sg1fvKvqK14",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "me",
        "options": {
          "queryParametersJson": "{}"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1312,
        16
      ],
      "id": "9ff8874e-86b1-4e62-b589-0ea1781876ba",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "PF4E7O6t11tmBM0E",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "path": "hook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        -384
      ],
      "id": "18622375-c9d9-4993-a15d-ffe348d47126",
      "name": "Webhook",
      "webhookId": "f4506d57-4397-46e7-bea8-7770ddf855a5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        800,
        -256
      ],
      "id": "5da733f1-8eaf-4376-9373-89c810580d8e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "905c5f25-55d4-4ca1-9db1-cdcb44fb25ba",
                    "leftValue": "={{ $json.query.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.text }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9594ea8f-3310-49a4-829d-d850ecc1584a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0dd10bd7-9397-43a9-a58d-014685e11074",
                    "leftValue": "={{ $json.query.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        -416
      ],
      "id": "98755094-fa35-4042-98b9-f604f5534917",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80157868-445b-46ef-a117-275045319d1f",
              "leftValue": "={{ $json.query.chat_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -384
      ],
      "id": "61aad40b-a640-42be-9d73-cbff428cc815",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Bangkok",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "fa95d5cf-ae9f-406e-862e-a2ce5290dba9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88f1d9494737a812894318cad1e53f73d600502ed003d70fb6c21c9f2465c5c0"
  },
  "id": "Q1xWAS8fRe6sPyHA",
  "tags": []
}
